body {
    /* font-family: sans-serif; */
    background-color: #E6E6E6;
}

#loading-screen {
    display: flex;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6; */
    width: 100%;
    padding: 5px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2980B9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#main-content {
    display: none;
}

/* Center matplotlib figures within their container */
#figure-output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0 10px 0;
}