input[type="range"] {
    width: 100%;
}

#controls {
    margin-bottom: 1em !important;
}

input[type="radio"]:checked,
input[type="range"] {
    accent-color: #2980B9;
}

.control-row .checkbox-button {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    gap: 0.2em;
    font-size: small;
}

.control-row .checkbox-group {
    display: flex;
    align-items: center;
}

.control-row .checkbox-button input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -8px;
}

.control-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
    min-height: 1.5em;
}

.control-row label {
    margin-right: .5em;
    min-width: 3em;
    text-align: right !important;
    font-size: small;
    white-space: nowrap;
    line-height: 1.4;
}

.control-row output {
    margin-left: .5em;
    min-width: 6em;
    text-align: left;
    font-size: small;
    white-space: nowrap;
    font-family: serif;
}

.control-row span {
    flex-grow: 1;
}

.radio-group {
    display: flex;
    gap: 1em;
    align-items: center;
}

.radio-group label {
    font-size: small;
    margin-right: 0.5em;
    min-width: 0.1em;
}

.radio-button {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.radio-button input[type="radio"] {
    width: auto;
    margin: 0;
}

.radio-button label {
    margin: 0;
    font-size: small;
    cursor: pointer;
}

/* Hide all coordinate-specific sliders by default */
.dimensional,
.non-dimensional {
    display: none;
}

/* Show non-dimensional sliders when body has non-dimensional-mode class */
.non-dimensional-mode .non-dimensional {
    display: flex;
}

/* Show dimensional sliders when body has dimensional-mode class */
.dimensional-mode .dimensional {
    display: flex;
}