body {
    font-family: sans-serif;
    background-color: #E6E6E6;
}

input[type="range"] {
    width: 100%;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#main-content {
    display: none;
}

input[type="range"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: #ccc;
}

input[type="range"]:disabled::-webkit-slider-thumb {
    background: #999;
    cursor: not-allowed;
}

input[type="range"]:disabled::-moz-range-thumb {
    background: #999;
    cursor: not-allowed;
}

/* Disabled labels */
label.disabled {
    opacity: 0.5;
    color: #999;
}

/* Disabled output */
output.disabled {
    opacity: 0.5;
    color: #999;
}

.slider-row {
    display: flex;
    align-items: center;
    /* gap: 0.5em; */
    margin-bottom: 0.25em;
    min-height: 1.5em;
}

.slider-row label {
    margin-right: .5em;
    min-width: 3em;
    text-align: right;
    font-size: small;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.4;
}

.slider-row output {
    margin-left: .5em;
    min-width: 3em;
    text-align: left;
    display: inline-block;
    font-size: small;
    white-space: nowrap;
}