input[type="range"] {
    width: 100%;
}

.control-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
    min-height: 1.5em;
}

.control-row label {
    margin-right: .5em;
    min-width: 3em;
    text-align: right;
    font-size: small;
    white-space: nowrap;
    line-height: 1.4;
}

.control-row output {
    margin-left: .5em;
    min-width: 5em;
    text-align: left;
    font-size: small;
    white-space: nowrap;
}

.control-row span {
    flex-grow: 1;
}

.radio-group {
    display: flex;
    gap: 1em;
    align-items: center;
}

.radio-group label {
    font-size: small;
    margin-right: 0.5em;
}

.radio-button {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.radio-button input[type="radio"] {
    width: auto;
    margin: 0;
}

.radio-button label {
    margin: 0;
    font-size: small;
    cursor: pointer;
}

/* Hide all coordinate-specific sliders by default */
.dimensional,
.non-dimensional {
    display: none;
}

/* Show non-dimensional sliders when body has non-dimensional-mode class */
body.non-dimensional-mode .non-dimensional {
    display: flex;
}

/* Show dimensional sliders when body has dimensional-mode class */
body.dimensional-mode .dimensional {
    display: flex;
}